*{
    box-sizing: border-box;
}
body {
    color:#333;
    font-family:meiryo, Arial, Helvetica, sans-serif;
    font-size:12px;
    height:100%;
    margin:0 auto;    
    width:100%;
    background-color: #F8F8F8;
}

html,body,div,dl,dt,dd,ul,ol,li,th,td {
    margin:0;
    padding:0;
}

img,body,html {
    border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:400;
}

ol,ul {
    list-style:none;
}

caption,th {
    text-align:left;
}

q:before,q:after {
    content:'';
}

a,a:visited {
    color:#4e7aa7;
    text-decoration:none;
}

a:hover,a:active {
    color:#5d92c9;
    text-decoration:none;
}

.left {
    float:left;
}

.right {
    float:right;
}

.center {
    margin:0 auto;
    text-align:center;
}

/* .bring-to-top {
    position:relative;
    z-index:500;
} */

.clear {
    clear:both;
}

/* .hidden {
    display:none;
} */

/* .fit-parent {
    height:100%;
    width:100%;
} */

/* .inline-block{
    display: inline-block;
    *display: inline;
    *zoom: 1;
} */
/* 自定义公共样式 */
.w-1200{
    width:1200px;
    margin: 0 auto;
}
.w-880{
    width:880px;
}
.w-300{
    width:330px;
}
.w-590{
    width:590px;
}
.w-430{
    width:430px;
}
/*标题公共样式*/
.section-box{
    height: 60px;
    line-height: 60px
}
.section-title{
    font-size: 20px;
    color: #333;
    border-left: 3px solid #1cb0ea;
    padding:1px 20px;
}
.section-tab{
    display: inline-block;
}
.section-tab>span{
    font-size: 16px;
    color: #666;
    padding: 4px 15px;
    margin-right: 30px;
}
.section-tab>span.active{
    color:#fff;
    background-color: #1cb0ea;
    border-radius: 5px;
}
.more{
    font-size: 14px;
    line-height: 28px;
    color: #999;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
}
.more i{
    margin-left:10px;
}